hoist=false
link-workspace-packages=deep

# Common Hoisting Issues

# Build
# public-hoist-pattern[]='@esbuild-plugins/*'
# public-hoist-pattern[]='esbuild'
# public-hoist-pattern[]='glob'

# Lint
# public-hoist-pattern[]='*eslint*'

# React
# public-hoist-pattern[]='react'
# public-hoist-pattern[]='react-dom'
# public-hoist-pattern[]='@types/react'
# public-hoist-pattern[]='@types/react-dom'
# public-hoist-pattern[]='lit-html'

# Firebase
# public-hoist-pattern[]='firebase'
# public-hoist-pattern[]='firebase-*'
# public-hoist-pattern[]='@firebase/*'

# Telegram
# public-hoist-pattern[]='@grammyjs/*'

# OClif CLI
# public-hoist-pattern[]="@oclif/*"

# Viem, Wagmi, Rainbowkit
# public-hoist-pattern[]='viem'
# public-hoist-pattern[]='@viem/viem'
# public-hoist-pattern[]='wagmi'
# public-hoist-pattern[]='@wagmi/*'
# public-hoist-pattern[]='@rainbow-me/*'
